# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# Environment variables
.env
.vscode
# Cache
.mypy_cache/
.pytest_cache/

# Local secrets for running act locally - do NOT commit
.secrets
